<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect User Friendly URL" enabled="true" stopProcessing="true">
                    <match url="^wiki/index\.php$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                        <add input="{QUERY_STRING}" pattern="^title=([^=&amp;]+)$" />
                    </conditions>
                    <action type="Redirect" url="wiki/{C:1}" appendQueryString="false" />
                </rule>              
                <rule name="Rewrite User Friendly URL" enabled="true" stopProcessing="true">
                    <match url="^(wiki/.+)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="wiki/index.php?title={R:1}" />
                </rule>
            </rules>
            <outboundRules>
				<!--
                <rule name="Outbound Rewrite User Friendly URL" preCondition="ResponseIsHtml1" enabled="true">
                    <match filterByTags="A, Form, Img" pattern="^(.*/)wiki/index\.php\?title=([^=&amp;]+)$" />
                    <action type="Rewrite" value="{R:1}{R:2}/" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
				-->
            </outboundRules>
        </rewrite>
      <httpRedirect enabled="true" exactDestination="true" httpResponseStatus="Permanent">
        <add wildcard="/" destination="/wiki/" />
      </httpRedirect>
    </system.webServer>
</configuration>
